.order-form {
  background-color: #c2c2c2;
  color: rgb(102, 102, 102);
  padding: 1rem 1rem;
  font-size: 1.2rem;
  height: 100%;
}

label{
  margin-right: 1rem;
  width: 2rem;
}

.form-row {
  padding-bottom: 1rem;
}

.input-text {
  float: right;
}

button {
  background-color: rgb(102, 102, 102);
  color:white;
  width: 85%;
  height: 2rem;
}